/* CSS Document */
*,
*::after,
*::before {
    box-sizing: border-box;
}

/*Spotify font*/
html {
    font-family: Proxima Nova;
}

header,
footer {
    background-color: black;
    color: white;
}

body,
p,
a,
ul,
li {
    margin: 0em;
    padding: 0em;
    text-decoration: none;
}

h2 {
    font-size: 2em;
    font-weight: 800;
}

h3 {
    font-size: 1.3em;
    font-weight: 800;
}

a,
a:visited {
    text-decoration: none;
    color: currentColor;
}

li {
    list-style: none;
}

/*nav grid*/
nav {
    display: flex;
    justify-content: space-between;
}

main {
    background-color: white;
    color: black;
}

/*button homepage*/
button {
    background-color: #1DB954;
    color: white;
    border-radius: 50px;
    border-style: none;
    padding: 1.5em 5em;
    display: flex;
    font-weight: 700;
}

button:hover {
    background-color: #1ED761;
}

/*formulier detailpagina*/

#whitebutton {
    background-color: white;
    border-style: solid;
    color: grey;
}

label {
    color: lightgray;
}

input,
textarea {
    background-color: white;
    border-style: none;

}

/* items centreren –– werkt niet */
#welcome {
    margin: auto;
    align-content: center;

}

#gradienthomepage {
    background: linear-gradient(#AE6FA9, #020403)
}

#gradientdetailpage {
    background: linear-gradient(#121D3D, #000000)
}

/*groene teksten*/
.capitalized {
    color: #1DB954;
    font-weight: 700;
}

#iphone {
    height: 25em;
    width: 22em;
}
