/* CSS Document –– stond al in het basic document */
*,
*::after,
*::before {
    box-sizing: border-box;
}

/* downloads Proxima Nova font - niet toegepast */

@font-face {
    font-family: 'Metropolis Extra';
    src: url('Metropolis-ExtraLight.woff2') format('woff2'),
        url('Metropolis-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Metropolis';
    src: url('Metropolis-Regular.woff2') format('woff2'),
        url('Metropolis-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Metropolis';
    src: url('Metropolis-Black.woff2') format('woff2'),
        url('Metropolis-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Metropolis';
    src: url('Metropolis-Light.woff2') format('woff2'),
        url('Metropolis-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Metropolis';
    src: url('Metropolis-Medium.woff2') format('woff2'),
        url('Metropolis-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Metropolis Extra';
    src: url('Metropolis-ExtraBold.woff2') format('woff2'),
        url('Metropolis-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Metropolis';
    src: url('Metropolis-Bold.woff2') format('woff2'),
        url('Metropolis-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Metropolis';
    src: url('Metropolis-Thin.woff2') format('woff2'),
        url('Metropolis-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Metropolis Semi';
    src: url('Metropolis-SemiBold.woff2') format('woff2'),
        url('Metropolis-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}




/* Spotify font */
html {
    font-family: Metropolis, Helvetica;
}

/* Proxima Nova via Adobe Typekit  */
@import url("https://use.typekit.net/kxq4kha.css");




/* zorgt ervoor dat alle content vrijstaand en 'leeg' is */
body,
p,
ul,
li {
    margin: 0em;
    padding: 0em;
    text-decoration: none;
}

/* zorgt ervoor dat 2/3 van de site een zwarte achtergrond heeft */
header,
footer {
    background-color: #000000;
    color: #ffffff;
}

/* NAVIGATIE */

/* haalt ingebouwde text decoratie weg */
li {
    list-style: none;
}

/* naast elkaar / space between = links & rechts */
nav ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1em;
}

/* zorgt ervoor dat de elementen 100% van het beeld gebruiken + dat ze naast elkaar komen te staan */
nav {
    display: flex;
    background-color: #000000;
    width: 100%;
    position: fixed;
}

/* schaalt afbeeldingen en geeft ruimte aan de elementen */
nav img {
    max-height: 100%;
    max-width: 100%;
    height: 2em;
}

/* haalt ingebouwde text decoratie weg */
a {
    text-decoration: none;
    color: currentColor;
}

/* voegt background gradient toe en centreerd de items */
header {
    background: linear-gradient(#AE6FA9, #6E5A7F, #020403);
    display: grid;
    justify-items: center;
}

h1 {
    font-size: 3em;
    font-weight: 750;
    margin-top: 2.5em;
    margin-bottom: 0em;
}

/* first P on the page */
#calltoaction {
    font-weight: 700;
    font-size: 1.3em;
}

/* call to action button homepage + styling buttons detailpagina */
#homebutton {
    background-color: #1DB954;
    color: white;

    border-radius: 3em;
    border-style: none;

    font-weight: 800;
    font-size: 1em;
    letter-spacing: 0.1em;

    display: flex;
    margin-top: 2em;
    padding: 1.3em 3.5em;
}

/* styling button wanneer je er overheen hovert */
button:hover {
    background-color: #1ED761;
}

/* column grid formaat voor de 6 articles + scrollt mee */
#playlists {
    display: grid;
    grid-auto-flow: column;
    column-gap: 1.5em;
    padding: 2.5em;
    overflow-x: scroll;
    max-width: 100%;
}

/* de 'boxes' [text + image] als een grid vormen + ruimte hiertussen creeëren */
#playlists article {
    display: grid;
    grid-gap: 0.5em;
    text-align: center;
}

.coverimage {
    width: 12.5em;
    height: 12.5em;
}

.songname {
    font-weight: 650;
    color: #939796;
}

.artist {
    color: #C2C2C2;
}

/* micro animatie shape alvast in de css zetten - maar nog niet zichbaar maken*/
#microanimation {
    width: 0em;
    height: 0em;
    visibility: hidden;
}




h2 {
    font-size: 2em;
    font-weight: 800;
}

h3 {
    font-size: 1.3em;
    font-weight: 800;
}

/* geeft 1/3 de juiste achtergrond en tekst - kleur  */
main {
    background-color: white;
    color: black;
}




/* groene hoofdletter tekst, alleen vanuit de article */
article .capitalized {
    color: #1DB954;
    font-weight: 700;
    font-size: 0.8em;

    letter-spacing: 0.2em;
    padding-top: 0.8em;
}

/* groene hoofdletter tekst, alleen vanuit de article */
main .capitalized {
    color: #1DB954;
    font-weight: 700;
    font-size: 0.8em;
    letter-spacing: 0.2em;
}

/* b/o/r/l ruimte maken */
main,
footer {
    padding: 1em;
}

main {
    margin-top: 2em;
    margin-bottom: 3em;
}

main p {
    margin-bottom: 1.5em;
    font-weight: 500;
    letter-spacing: 0.05em;
}

#manageaccount,
#app,
#webplayer,
.capitalized {
    margin-top: 1em;
}





/* FOOTER */

/* Footer spotify logo */
#footerlogo {
    width: 6.5em;
    height: 2em;
    margin-top: 2em;
    margin-bottom: 2em;

}

/* Kleine grijze koppen in de footer */
footer h3 {
    color: grey;
    font-size: .7em;
    letter-spacing: 0.2em;
    font-weight: 800;
}

/* Linkjes naar andere pagina's */
footer li {
    padding: 0.9em;
    padding-left: 0em;
    font-weight: 500;
}

/* Maakt de tekst een andere kleur wanneer je hovert */
footer li:hover {
    color: #1ED761;
}

/* Creeërt 'wit' ruimte */
#communities,
#usefullinks {
    margin-top: 4em;
}

#world {
    width: 1em;
    height: 1em;
}

/* Creeërt 'wit' ruimte */
#socials {
    margin-top: 7em;
    margin-bottom: 2em;
}

.socialicons img {
    width: 3.5em;
    height: 3.5em;
    padding: 0.3em;
}


#outlineright {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#outlineright a {
    margin-bottom: 1em;
}

/* selectief tekst grijs maken */
.greytext {
    color: grey;
    font-weight: 600;
    font-size: 0.7em;
}

/*SECONDARY FOOTER*/
#secondaryfooter a {
    font-weight: 550;
    font-size: 0.7em;
    color: grey;
}

#secondaryfooter a:hover {
    color: #1ED761;
}

#secondaryfooter p {
    margin-right: 0em;
}

/* zorgen dat de secondary footer in 2 word gesplitst */
#secondaryfooter ul {
    display: flex;
    flex-wrap: wrap;
}




/* DETAILPAGINA –– Personal Account */


/* HEADER OP TWEEDE PAGINA –– background gradient */
.detail-page header {
    background: linear-gradient(#121D3D, #000000)
}

/* h1 op de detailpagina */
#greetingdetailpage {
    font-size: 1.9em;
    font-weight: 700;
    margin-top: 1em;
}

/* call to action op de detailpagina */
#cta {
    text-align: center;
    margin-top: 2em;
    margin-bottom: 2em;
}

/* <select> styling */
#dropdown {
    display: flex;
    justify-content: space-between;

    font-weight: 500;

    width: 35em;
    margin-top: 7em;
    padding: 1em;
    border-radius: 0.5em;
}

/* Iphone afbeelding grootte  */
#iphone {
    height: 25em;
    width: 22em;
}

/* tabel styling - hoe werkt dit? column & rows omwisselen? */
/*table {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr
}*/


/*button detailpagina*/
.detailbutton {
    background-color: white;
    color: grey;
    font-weight: 700;

    border-style: solid;
    border-radius: 3em;

    width: 33em;
    padding: 1.5em 5em;

    margin-top: 2em;
    margin-bottom: 5em;
}

/* styling buttons wanneer je er overheen hovert + zoomt in */
.detailbutton:hover {
    background-color: white;
    color: black;
    transform: scale(1.05, 1.05);
    border-color: black;
}

#yourplaninfo {
    border-style: solid;
    border-width: 0.1em;
    border-color: #A9A9A9;
}

#premiuminfo {
    padding-top: 2.5em;
    padding-bottom: 2.5em;
    margin-top: 0em;

    background-color: #121D3D;
    color: #ffffff;

    font-weight: 800;
    font-size: 2em;
    text-align: center;
}

#idealimg {
    height: 2em;
    width: 2.3em;
    margin-left: 1em;
}


/* rechts ruimte geven */
#yourplan p,
#yourplan a,
#payment {
    margin-left: 1em;
}

/* break line - ik kon geen andere manier bedenken */
#payment {
    border-style: solid;
    width: 25em;
    border-top-width: thin;
    border-color: #d3d3d3;
    border-bottom: none;
    border-left: none;
    border-right: none;
    padding-top: 2em;
}

/* ruimte maken voor eerste micro-interactie - countdown tot volgende betaling*/
#countdownpayment {
    margin-top: 1em;
    font-size: 1.5em;
    font-weight: 700;
    color: #121D3D;
}

#countdowndiscount {

    font-size: 1.5em;
    font-weight: 700;
    color: #1ED761;

    border-style: dotted;
    padding: 0.5em;
}


#studentdiscount {
    padding-bottom: 4em;
}


/* speciale tekst box */
#notebox {
    border-style: solid;
    border-width: 0.1em;
    border-color: #A9A9A9;
    border-radius: 0.2em;

    padding: 1.5em;

    background-color: #f5f5f5;
}


/* MEDIA QUERIES */

/* normal ipad size */
@media (min-width: 49em) {

    #calltoaction {
        font-weight: 750;
        font-size: 1.5em;
    }


    /* afbeeldingen juist naast elkaar, tekst weghalen en overflow balk weghalen */
    #playlists {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-row-gap: 1.4em;

        overflow-x: hidden;
    }

    #playlists img {
        width: 13em;
        height: 13em;
    }

    #playlists {
        visibility: hidden;
    }

    #playlists img {
        visibility: visible;
    }

    .bottomrow {
        margin-top: -6.5em;
    }


    #manageaccount,
    #app,
    #webplayer {
        width: 20em;
        height: 10em;
    }



    #headerhomepage {
        margin-bottom: -10em;
    }


    /* micro animatie -  mbv code uit de les */

    #microanimation {
        width: 2.5em;
        height: 2.5em;
        margin-top: -13em;

        align-items: center;
        visibility: visible;
    }

    /* translateY zorgt ervoor dat een element van positie kan veranderen */
    @keyframes movingArrow {
        0% {
            transform: translateY(0);
        }

        100% {
            transform: translateY(-0.5em);
        }
    }

    /* alternate zorgt ervoor dat mijn animatie afwisselend afspeelt, infinte zorgt ervoor dat hij voor altijd blijft bewegen tussen de 0 & 100% states */
    #microanimation {
        animation-name: movingArrow;
        animation-duration: 1s;
        animation-direction: alternate;
        animation-iteration-count: infinite;
    }


    #microanimation h2 {
        margin-bottom: 2em;
    }

    #app {
        margin-top: -11.5em;
        margin-left: 25em;
    }


    #footerlinks {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }



    /* detailpage */


    #headerdetailpage {
        display: flex;
    }

    #dropdownmenu {
        visibility: hidden;
    }

    #iphone {
        width: 16em;
        height: 18em;
        margin-top: 18em;
        margin-right: 7em;

    }

    #greetingdetailpage {
        font-size: 6em;
        font-weight: 650;
        margin-top: 2.5em;
        margin-bottom: 2em;
        margin-left: -4em;
    }

    #cta {
        margin-top: 24em;
        margin-left: -16.5em;
        margin-right: 9em;
        text-align: left;
    }

}


/* macbook mini sized */
@media (min-width: 65em) {
    nav {
        opacity: 75%;
    }

    #webplayer {
        margin-top: -12em;
        margin-left: 48em;
    }
}


/* macbook normal sized */
@media (min-width: 80em) {
    #homepageh2 {
        font-size: 3em;
        margin-left: 3em;
    }

    #manageaccount {
        margin-left: 9em;
    }

    #app {
        margin-top: -12em;
        margin-left: 35em;
    }

    #webplayer {
        margin-top: -12em;
        margin-left: 60em;
    }

    main h3 {
        font-weight: 800;
        font-size: 1.8em;
    }
}
